.main {
  overflow: hidden;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #ff6533, #f53f2d);
  z-index: 51;
  left: 0;
  right: 0;
}

.header__nav {
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
}

.nav-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav-list-item {
  margin: 0 12px;
  position: relative;
  min-height: 26px;
  cursor: pointer;
}

.nav-item-link,
.nav-list-item {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white-color);
  text-decoration: none;
}
.nav-item-link,
.nav-list-item,
.nav-icon {
  display: inline-flex;
  align-items: center;
}

.nav-item-link:hover,
.nav-list-item:hover:not(:last-child) {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list-item--strong {
  font-weight: 425;
}

.nav-list-item--separate::after {
  content: '';
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 14px;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
}

.header__nav-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  display: flex;
  background-color: var(--white-color);
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-link::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

.header__sort-item--active .header__sort-link::after {
  content: '';
  height: 2px;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  position: absolute;
  bottom: -1px;
  right: 0;
}

.nav-icon {
  font-size: 1.6rem;
}

.nav-qr-code {
  width: 188px;
  position: absolute;
  top: 130%;
  left: 0;
  background-color: #fff;
  display: none;
  animation: inFade ease-in 0.3s;
  border: 2px solid #f3f3f3;
  border-radius: 2px;
  will-change: opacity;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-qr-code::before {
  content: '';
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  left: 10px;
  top: -28px;
}

.nav-qr-add {
  width: 188px;
  height: 30px;
  top: 100%;
  background-color: transparent;
  position: absolute;
  display: none;
}
.nav-list-item-qr-open:hover .nav-qr-add,
.nav-list-item-qr-open:hover .nav-qr-code {
  display: block;
}

.nav-qr-code__img {
  padding: 4px;
  width: 100%;
}

.nav-qr-code__link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-qr-code__link-img {
  width: 70px;
}

.nav-qr-code__link-img:first-child {
  margin-left: 12px;
}

.nav-qr-code__link-img:last-child {
  margin-right: 12px;
}
.nav-list-item:first-child:hover .nav-notify-add,
.nav-list-item:first-child:hover .nav-notify {
  display: block;
}

.nav-notify {
  width: 402px;
  position: absolute;
  /* max-height: 1000px;   */
  right: 0;
  top: 130%;
  border-radius: 2px;
  background-color: #fff;
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in 0.2s;
  border: 2px solid #f3f3f3;
  cursor: default;
  will-change: opacity transform;
  z-index: 1;
}

@keyframes headerGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.nav-notify::before {
  content: '';
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 3px;
  top: -30px;
}

.nav-notify-add {
  width: 402px;
  height: 30px;
  top: 100%;
  background-color: transparent;
  position: absolute;
  display: none;
}

.notify-header {
}

.notify-header-info {
  color: rgba(0, 0, 0, 0.35);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 4px 8px;
}

.notify-container {
  margin-top: -4px;
}

.notify-container-ptn {
  display: flex;
  padding: 8px;
  text-decoration: none;
  /* flex-wrap: wrap; */
  background-color: #fff4f4;
}

.notify-container-ptn:hover {
  background-color: #f8f8f8;
}

.notify-container-img-box {
  padding: 0 8px 0 0;
}

.notify-container-img {
  width: 40px;
  height: 40px;
}

.notify-container-content-box {
}

.notify-container-title {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 400;
  color: var(--black-color);
}

.notify-container-decription {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.4;
}

.notify-footer {
  text-align: center;
  background-color: #efefef;
  padding: 12px;
}

.notify-footer:hover {
  background-color: #fbfbfb;
}

.notify-footer-btn {
  text-decoration: none;
  color: var(--black-color);
}
.nav-list-item:nth-child(3):hover .language-item-add,
.nav-list-item:nth-child(3):hover .nav-language {
  display: block;
}

.nav-language {
  width: 200px;
  position: absolute;
  right: 0;
  top: 93%;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #f3f3f3;
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in 0.2s;
  will-change: opacity transform;
  z-index: 2;
}

.nav-language::before {
  content: '';
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 18px;
  top: -28px;
}

.language-item-add {
  width: 200px;
  height: 35px;
  top: 75%;
  background-color: transparent;
  position: absolute;
  display: none;
}

.language-item {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 12px;
  transition: 0.3s ease;
}

.language-item:hover {
  background-color: #fafafa;
  color: #00bfa5;
}

.nav-list-item-user {
  display: flex;
  position: relative;
}

.nav-list-item-user:hover .nav-list-item-user-menu {
  display: block;
}

.nav-list-item-user-img-wrap {
  width: 24px;
}

.nav-list-item-user-img {
  width: 100%;
  border-radius: 50%;
}

.nav-list-item-user-name {
  margin-left: 8px;
}

.nav-list-item-user-menu {
  position: absolute;
  top: calc(76% + 8px);
  right: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  list-style: none;
  border-radius: 2px;
  z-index: 1;
  padding-left: 0;
  width: 150px;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in 0.2s;
  will-change: opacity transform;
  box-shadow: 0 0 5px #d5d2d2;
  display: none;
  /* overflow: hidden; */
}

.nav-list-item-user-menu::after {
  content: '';
  border-width: 12px 16px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 22px;
  top: -19px;
}

.nav-list-item-user-add {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 100%;
}

.nav-list-item-user-menu-item {
  font-size: 1.4rem;
}

.nav-list-item-user-menu-item button:hover {
  color: #00bfa5;
  background-color: #fafafa;
}

.nav-list-item-user-menu-item button {
  width: 100%;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  text-align: left;
  transition: 0.3s ease;
}

.auth-form {
  border-radius: 4px;
  background-color: var(--white-color);
  padding: 0 32px;
}

.auth-form__header {
  padding: 32px 12px;
  display: flex;
  justify-content: space-between;
}

.auth-form__header-dicription {
  font-size: 2rem;
  padding: 16px 0;
}

.auth-form__header-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 16px 0;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.auth-form__form-group {
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  outline: none;
}

.auth-form__form-group:focus {
  border-color: #777;
}

.auth-form__form-decription {
  font-size: 1.4rem;
  text-align: center;
  margin: 8px;
  line-height: 1.6;
}

.auth-form__form-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__form-btns {
  display: flex;
  justify-content: flex-end;
  margin: 80px 0 22px;
}

.auth-form__form-btn {
  display: block;
  width: 140px;
  font-size: 1.4rem;
  padding: 8px 0;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  background-color: var(--white-color);
  cursor: pointer;
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
  transition: 0.3s ease;
}

.auth-form__form-btn:first-child:hover {
  background-color: #d3d3d3;
}

.socials__list {
  padding: 12px 32px;
  background-color: #f1eded;
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.socials__social {
  font-size: 1.4rem;
  padding: 8px;
  flex-basis: 50%;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  text-decoration: none;
}

.socials__social:nth-child(1) {
  color: #fff;
  background-color: #166fe5;
  margin-right: 8px;
}

.socials__social:nth-child(2) {
  color: var(--text-color);
  background-color: #fff;
}

.socials__social-icon {
  float: left;
  font-size: 20px;
}

.auth-form__form-help {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  margin: 8px;
  line-height: 1.6;
}
.auth-form__form-help-link {
  text-decoration: none;
  position: relative;
}

.auth-form__form-help-link:first-child {
  color: var(--primary-color);
  margin-right: 32px;
}

.auth-form__form-help-link:last-child {
  color: #b1adad;
}

.auth-form__form-help-link--separate::after {
  content: '';
  display: block;
  position: absolute;
  border-left: 2px solid #b1adad;
  height: 14px;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
}

.socials__social-se {
  font-size: 1.4rem;
  padding: 8px;
  flex-basis: 33.33333%;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
}

.socials__social-se:first-child {
  background-color: #5db85c;
  color: #fff;
}

.socials__social-se:nth-child(2) {
  color: #fff;
  background-color: #166fe5;
}

.socials__social-se:last-child {
  color: var(--text-color);
  background-color: #fff;
}

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: relative;
}

.header__search-checkbox:checked ~ .header__search-wrap {
  display: flex;
}

.header__mobile-search {
  height: 30px;
  width: 30px;
  display: none;
}

.header__mobile-search-icon {
  color: var(--white-color);
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  position: absolute;
  top: -6%;
}

.header__logo-img {
  width: 150px;
}

.header__search-wrap {
  flex: 1;
}

.header__search {
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  line-height: 40px;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
}

.header__search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 100;
}

.header__search-decription-list {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 8px 0 2px 0;
}

.header__search-decription-list-item a {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 200;
  text-decoration: none;
}

.header__search-decription-list-item + .header__search-decription-list-item {
  margin-left: 12px;
}

.header__cart-wrap {
  display: inline-block;
  padding: 4px 8px;
  height: 100%;
  position: relative;
  top: -9%;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-length {
  background-color: var(--white-color);
  padding: 0px 7px;
  position: absolute;
  border-radius: 10px;
  top: -2px;
  left: 26px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  font-weight: 500;
}

.header__cart {
  width: 150px;
  display: flex;
  justify-content: center;
  height: 44px;
}

.header__cart-icon {
  color: #fff;
  width: 32px;
  align-self: flex-end;
  cursor: pointer;
}

.header__cart-list {
  width: 400px;
  right: -4px;
  top: calc(100% + 2px);
  position: absolute;
  border-radius: 2px;
  display: none;
  transform-origin: calc(100% + 8px) top;
  animation: headerGrowth linear 0.2s;
  z-index: 1;
  will-change: transform opacity;
}

.header__cart-list::after {
  cursor: pointer;
  content: '';
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -30px;
  right: 0;
}

.header__cart-list-container {
  padding: 60px 0;
  text-align: center;
  max-height: 56vh;
  overflow-y: auto;
}

.header__cart-list--no-items-img {
  width: 25%;
  display: none;
}

.header__cart-list--no-items-decription {
  font-size: 1.6rem;
  padding: 8px 0;
  color: var(--text-color);
  display: none;
}

.header__cart-list--no-items .header__cart-list--no-items-img,
.header__cart-list--no-items .header__cart-list--no-items-decription {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-list--have-items {
  padding: 0;
  margin: 0 1.2rem 1.2rem 1.2rem;
  height: 100%;
}

.header__cart-list--have-items-header {
  padding: 16px 0;
}

.header__cart-list--have-items-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 0 4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.header__cart-list--have-items-body {
}

.header__cart-list--have-items-items {
  list-style: none;
  padding-left: 0;
}

.header__cart-list--have-items-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__cart-list--have-items-item + .header__cart-list--have-items-item {
  margin-top: 16px;
}

.header__cart-list--have-items-item-wrap {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.header__cart-list--have-items-img {
  width: 44px;
  height: 44px;
  display: inline-block;
  margin: 0 8px 8px 0;
}

.header__cart-list--have-items-img img {
  width: 100%;
}

.header__cart-list--have-items-decription {
  text-align: left;
  flex: 1;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 4rem;
  color: var(--text-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__cart-list--have-items-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-list--have-items-footer {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.header__cart-list--have-items-footer-decription {
  font-size: 1.4rem;
  font-weight: 300;
}

.header__cart-list--have-items-btn {
  margin-left: auto;
  padding: 12px 0;
  text-decoration: none;
}

.header__cart-list--have-items-btn:hover {
  opacity: 0.7;
}

.header__cart-list {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(173, 173, 173);
}

.header__search-option {
  display: flex;
  font-size: 1.6rem;
}

.header__search-select {
  line-height: 24px;
  color: var(--text-color);
  cursor: pointer;
  width: 125px;
  position: relative;
  border-left: 2px solid rgb(205, 195, 195);
  text-align: center;
  margin: 8px 0;
  z-index: 1;
}

.header__search-select-icon {
  font-size: 1.2rem;
}
.header__search-select:hover .header__search-select-list {
  display: block;
}

.header__search-select::after {
  content: '';
  display: block;
  width: 100%;
  height: 36px;
  position: absolute;
  top: 0;
}

.header__search-select-list {
  background-color: var(--white-color);
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 2px;
  width: 130px;
  position: absolute;
  right: 0;
  top: 36px;
  display: none;
  animation: inFade linear 0.1s;
}

.header__search-select-items {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin: 0;
}

.header__search-select-item-icon {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.header__search-select-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px 0 8px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-select-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-select-item:hover {
  background-color: #f1f1f1;
}

.header__search-btn {
  width: 60px;
  margin: 3px;
  border-radius: 2px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-btn:hover {
  opacity: 0.8;
}

.header__search-btn-icon {
  color: #fff;
}

.header__search-history {
  background-color: #fff;
  width: calc(100% - 16px);
  border-radius: 2px;
  box-shadow: 0 0 5px #d5d2d2;
  margin-top: 2px;
  display: none;
  animation: inFade linear 0.1s;
  position: relative;
  z-index: 1;
}

.header__search-history-heading {
  font-size: 1.4rem;
  color: rgb(173, 173, 173);
  margin-left: 12px;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header__search-history-item {
  height: 34px;
  font-size: 1.4rem;
  padding-left: 12px;
  line-height: 34px;
}

.header__search-history-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-history-item:hover {
  background-color: #f7f6f6;
}

.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
  z-index: 1 !important;
}

.app__container {
  background-color: #f5f5f5;
  padding-top: var(--header-height);
}

.app__content {
  padding: 36px 0 56px;
  flex-wrap: unset !important;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
  color: var(--text-color);
  display: flex;
  justify-content: baseline;
}

.category__heading-icon {
  font-size: 1.3rem;
  margin-right: 4px;
}

.category-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.category-item {
  position: relative;
}

.category-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 14px;
  height: 0.7px;
  width: calc(100% - 28px);
  background-color: rgba(0, 0, 0, 0.05);
}

.category-item:last-child::after {
  display: none;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-size: 1.4rem;
  padding: 12px 16px;
  right: 0;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

.category-item__link.active {
  right: -4px;
  color: var(--primary-color);
}

/* Mobile Category */
.mobile-category {
  display: none;
}

.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
  display: none;
}

.mobile-category__item {
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #88cf81;
}

.mobile-category__link {
  display: block;
  text-decoration: none;
  align-items: center;
  font-size: 1.4rem;
  --line-height: 2rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  color: var(--white-color);
  width: 110px;
  border-radius: 5px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0 6px;
}

.home-filter {
  background-color: #ededed;
  display: flex;
  align-items: center;
  padding: 8px 22px;
}

.home-filter__lable {
  font-size: 1.4rem;
}

.home-filter__btn.btn {
  min-width: 90px;
  margin-left: 11px;
  background-color: var(--white-color);
  font-size: 1.4rem;
}

.home-filter__page {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.home-filter__page-num {
  padding: 12px 16px;
  font-size: 1.4rem;
  font-weight: 300;
}

.home-filter__page-current {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.home-filter__page-move {
  display: flex;
  border-radius: 2px;
  box-shadow: 0 0 2px #b1adad;
  overflow: hidden;
}

.home-filter__page-btn {
  flex: 1;
  width: 36px;
  height: 36px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  border-left: 1px solid #ededed;
}

.home-filter__page-btn--disable {
  background-color: rgb(243, 243, 243) !important;
  cursor: default;
}

.home-filter__page-icon--disable {
  color: #b1adad !important;
}

.home-filter__page-icon {
  font-size: 1.3rem;
  color: var(--text-color);
}

.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  margin-top: 10px;
  background-color: var(--white-color);
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.home-product-item__tag-red {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 88px;
  text-align: center;
  margin: 8px 10px 12px;
  border-radius: 1px;
}

.home-product-item__tag-gold {
  color: var(--white-color);
  width: 50px;
  background-color: #f69113;
  text-align: center;
  margin: 8px 10px 12px;
  font-weight: 500;
  border-radius: 1px;
  padding: 1px 2px;
  position: relative;
}

.block-on-tag-gold {
  width: 3px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.wrap-block-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  top: 0;
  left: -1px;
}

.wrap-block-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  top: 0;
  right: -1px;
}

.home-product-item__title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 0 10px;
  margin-bottom: 0;
  height: 3.2rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.currency {
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-right: 1px;
  color: var(--text-color);
  display: block;
  cursor: default;
}

.home-product-item__price {
  font-size: 1.6rem;
  margin: 8px 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
}

.home-product-item__real-price .currency {
  align-self: flex-start;
  color: #a9a2a2;
}

.home-product-item__real-price {
  font-size: 1.4rem;
  line-height: 1.4rem;
  position: relative;
  display: flex;
  margin-right: 3px;
  color: #b1adad;
  text-decoration: line-through;
  font-weight: 300;
}

.home-product-item__sale-price .currency {
  align-self: center;
  color: var(--primary-color);
  border-top-right-radius: 2px;
}

.home-product-item__sale-price {
  font-size: 1.6rem;
  color: var(--primary-color);
  display: flex;
  line-height: 1.6rem;
  font-weight: 400;
}

.home-product-item__freeship {
  line-height: 2px;
  align-self: center;
  margin-left: auto;
}

.home-product-item__action {
  margin: 14px 10px 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home-product-item__favorite {
  display: block;
  display: flex;
  align-items: flex-start;
}

.home-product-item__icon-heart-fill {
}

i.home-product-item__icon-heart-fill {
  display: none;
  color: #f53d2f;
  font-size: 1rem;
  cursor: pointer;
}

.home-product-item__favorite--liked .home-product-item__icon-heart-fill {
  display: inline-block;
}

.home-product-item__favorite--liked .home-product-item__icon-heart-empty {
  display: none;
}

.home-product-item__rate {
  display: flex;
  align-items: flex-start;
}

.home-product-item__icon-star {
  color: #d5d5d5;
  font-size: 0.8rem;
  margin-right: 2px;
}

.home-product-item__icon-star--gold {
  color: #ffce3d;
  font-size: 0.8rem;
  margin-right: 2px;
}

.home-product-item__buy-num {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 4px;
}

.home-product-item__icon {
}

.home-product-item__location {
  text-align: right;
  padding: 4px 10px 10px 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #555555;
}

.home-product-item__love {
  position: absolute;
  left: -4px;
  top: 10px;
  color: #f25220;
  background-color: currentColor;
  min-width: 28px;
  min-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__love span {
  margin: 0 6px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.home-product-item__mall {
  position: absolute;
  left: -4px;
  top: 10px;
  color: #d0011b;
  background-color: currentColor;
  min-width: 28px;
  min-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__mall span {
  color: var(--white-color);
}

.home-product-item__love span {
  color: var(--white-color);
}

.home-product-item__love i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}

.home-product-item__love::before {
  content: '';
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  filter: brightness(60%);
  position: absolute;
  left: 0px;
  top: 16px;
}

.home-product-item__mall::before {
  content: '';
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  filter: brightness(60%);
  position: absolute;
  left: 0px;
  top: 16px;
}

.home-product-item__sale-off-percent {
  position: absolute;
  background-color: rgba(255, 216, 57, 0.94);
  width: 36px;
  height: 32px;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent::after {
  content: '';
  position: absolute;
  bottom: -4px;
  border-width: 0 18px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 57, 0.94) transparent
    rgba(255, 216, 57, 0.94);
}

.home-product-item__percent {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-top: 2px;
}

.home-product-item__up {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 400;
}

.home-product--spacing-bottom {
  margin-bottom: 36px;
}
