/* MOBILE & TABLET */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .header__cart-wrap {
    top: 0;
  }

  .header__cart-wrap::before {
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    right: 0;
  }

  .header__logo-link {
    position: unset;
  }
  .header__cart-list {
    right: 0;
    width: 100%;
    position: fixed;
    top: var(--header-height);
    padding: 0 calc((100% - 644px) / 2);
    animation: inFade linear 0.1s;
  }
  .header__cart-list::after {
    display: none;
  }
  .app__container {
    padding-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }
  .header__sort-bar {
    display: flex;
  }
}

/* TABLET */
@media (max-width: 1023px) and (min-width: 740px) {
  :root {
    --header-height: 68px;
    --nav-height: 0px;
  }
  .hide-on-tablet {
    display: none;
  }
  .header__cart {
    width: 80px;
  }

  .header__cart-wrap::before {
    height: 16px;
    bottom: -12px;
  }

  .footer-region-nation {
    top: 37%;
  }

  .footer-footer-heading {
    justify-content: center;
  }

  .footer-footer-heading__link:last-child {
    margin: 16px 0 0 0;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --header-height: 54px;
    --nav-height: 0px;
  }

  .header {
    padding-top: 30px;
    min-height: var(--header-height);
  }
  .hide-on-mobile {
    display: none;
  }

  .header__seach-mobile {
    display: block !important;
  }

  .header__search-option {
    display: none;
  }

  .header-with-search {
    justify-content: space-between;
    align-items: center;
  }
  .header__cart,
  .header__logo-link {
    width: unset;
  }

  .header__logo {
    display: none;
  }

  .header__search-input {
    padding-left: 32px;
  }

  .header-with-search {
    text-align: center;
  }

  .header__cart-wrap {
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 8px;
  }
  .header__search-wrap {
    height: 46px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .mobile-category {
    display: block;
  }

  .header__search {
    flex: 1;
  }

  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      top: calc(var(--header-height) / 2);
    }
    to {
      opacity: 1;
      top: calc(var(--header-height));
    }
  }

  .header__search-history {
    position: fixed;
    top: calc(var(--header-height)+var(--header-sort-bar-height));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    left: 0;
    width: 100%;
  }

  .header__cart-length {
    top: 5px;
    left: 14px;
  }

  .header__search-history {
    text-align: left;
  }

  .app__content {
    margin: 0 6px;
  }

  .header__cart-list--have-items-decription {
    margin-right: 4px;
  }

  .header__mobile-search {
    display: block;
  }

  .app__content {
    padding: 8px 0 56px;
  }

  .footer__content {
    padding: 0 16px;
  }

  .footer-footer {
    padding-bottom: 0;
  }

  .footer-footer-logo__item:nth-child(3) {
    width: 48px;
    height: 48px;
  }

  .footer-list:last-child .footer-list__heading {
    text-align: center;
  }

  .footer-list:last-child .footer-list__wrap {
    display: flex;
    justify-content: center;
  }

  .footer-list-sub__heading {
    text-align: center;
  }

  .footer-list-item {
    text-align: center;
  }

  .footer-list-item__socials {
    padding-left: 30%;
  }
}
