@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 346.8 77.2% 49.8%;
    --secondary-foreground: 355.7 100% 97.3%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer components {
  .border-right-ab {
    @apply after:absolute after:bottom-0 after:right-0 after:top-0 after:w-[1px] after:bg-gray-300;
  }

  .border-bottom-ab {
    @apply after:absolute after:bottom-[-1px] after:left-0 after:right-0 after:h-[0.5px] after:w-full;
  }

  .tag-shopee {
    @apply mr-4  rounded-[2px] px-[4px] py-[1px]  text-center text-sm font-semibold;
  }

  .select-type-btn {
    @apply cursor-pointer select-none border border-gray-300 bg-white px-6  py-1 text-sm text-gray-600 transition-all hover:border-primary hover:text-primary;
  }

  .select-type-dis-btn {
    @apply pointer-events-none select-none border border-gray-300 px-6 py-1 text-sm text-gray-400;
  }

  .btn-primary {
    @apply rounded-[2px] bg-primary px-8 py-4 text-base font-normal capitalize text-white transition-all  hover:brightness-125;
  }

  .btn-base {
    @apply select-none rounded-md px-8  py-4 text-base font-normal capitalize transition-all  hover:brightness-125;
  }

  .btn-remove {
    @apply rounded-[2px] bg-red-600  px-8 py-4 text-base font-normal capitalize text-white transition-all  hover:brightness-125;
  }

  .btn-cart-solid {
    @apply rounded-md py-2 text-gray-500  transition-all  hover:text-primary;
  }

  .errMsg {
    @apply text-xs text-red-500;
  }
  .cate-disable {
    @apply after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0  after:bg-slate-50 after:opacity-80;
  }

  .star {
    @apply text-[13px] text-yellow-500;
  }
  .user-nav-item {
    @apply flex items-center gap-3 hover:bg-neutral-900 hover:bg-opacity-10 active:scale-100;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-accent text-foreground;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(253, 193, 104, 1) 0%,
      rgba(251, 128, 128, 1) 90%
    );
    border-radius: 50px;
  }
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px white;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfiled;
  }
}
