@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-right-ab {
    @apply after:absolute after:top-0 after:bottom-0 after:right-0 after:w-[1px] after:bg-gray-300;
  }

  .border-bottom-ab {
    @apply after:bottom-[-1px] after:absolute after:w-full after:right-0 after:left-0 after:h-[0.5px];
  }

  .tag-shopee {
    @apply text-[14px]  px-[4px] py-[1px] mr-4  text-center rounded-[2px] font-semibold;
  }

  .select-type-btn {
    @apply transition-all bg-white cursor-pointer select-none hover:border-primary hover:text-primary  px-6 py-1 text-[14px] text-gray-600 border border-gray-300;
  }

  .select-type-dis-btn {
    @apply pointer-events-none px-6 select-none py-1 text-[14px] text-gray-400 border border-gray-300;
  }

  .btn-primary {
    @apply transition-all hover:brightness-125 rounded-[2px] capitalize py-4 px-8 text-[16px] bg-primary font-normal  text-white;
  }

  .btn-remove {
    @apply transition-all hover:brightness-125 rounded-[2px] capitalize py-4 px-8 text-[16px] bg-red-600 font-normal  text-white;
  }

  .btn-cart-solid {
    @apply py-2 transition-all px-8 hover:text-primary  text-gray-500  rounded-md;
  }

  .errMsg {
    @apply text-red-500 text-[12px];
  }
  .cate-disable {
    @apply after:absolute after:top-0 after:right-0 after:bottom-0 after:left-0  after:bg-slate-50 after:opacity-80;
  }
}
